<% include partials/header %>

<!-- Technition ID & Name -->
<div class="container-fluid">
    
  <div class="jumbotron jumbotron-fluid border border-dark rounded">
    <div class="container-fluid">
      <h1 class="display-4 text-center">Repair Order Form</h1>
    </div>
  </div>
  
<!--Form starts here -->
  <form action="/repairOrderForm" method="POST">
  
  <!--Section for Customer Info-->
  <div class="container border border-dark rounded mx-auto">
    <h3 class="group-label">Repair Order Form #</h3>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <input name="repair_order_number" type="number" class="form-control" 
        id="repair_order_number" minlength="5" maxlength="5" placeholder="84895" 
        value= <% if (typeof rofNumber !== 'undefined') {%> <%=rofNumber;%> <% } else { %> "" <% } %>  required>      
      </div>
    </div>
  <!-- Start of Customer Info: ID / Name / Street / City / State / ZIP / Email / Phone # -->
    <h3 class="group-label">Customer Info</h3>  
    
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Customer ID:</span>
          </div>
          <input name="customerID" type="text" class="form-control" id="customerID"
          style="text-transform:uppercase" minlength="10" maxlength="10" aria-describedby="inputGroupPrepend"
          value="<% if (locals.Customer) { %> <%= Customer.id%> <% } else { 'Wasn\t passed customer' } %>" readonly>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">First Name:</span>
          </div>
          <input name="firstName" type="text" class="form-control" id="firstname"
           value="<% if (locals.Customer) { %><%=Customer.firstName%> <% } else { " " } %>" readonly>          
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Last Name:</span>
          </div>
          <input name="lastName" type="text" class="form-control" id="lastname"
          value="<% if (locals.Customer) { %><%=Customer.lastName%> <% } else { " " } %>" readonly>
        </div>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Street:</span>
          </div>
          <input name="street" type="text" class="form-control" id="Street" 
          value="<% if (locals.Customer) { %><%=Customer.street%> <% } else { " " } %>" readonly>          
        </div>        
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">City:</span>
          </div>
          <input name="city" type="text" class="form-control" id="City" 
          value="<% if (locals.Customer) { %><%=Customer.city%> <% } else { " " } %>" readonly>          
        </div>        
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">State:</span>
          </div>
          <input name="state" type="text" class="form-control" id="State"
          minlength="2" maxlength="2" 
          value="<% if (locals.Customer) { %><%=Customer.state%> <% } else { " " } %>" readonly>          
        </div>        
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Zip:</span>
          </div>
          <input name="zip" type="number" minlength="5" maxlength="5" class="form-control" id="zip" 
          value=<% if (locals.Customer) { %><%=Customer.zip%> <% } else { " " } %> readonly>          
        </div>        
      </div>
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Email:</span>
          </div>
          <input name="email" type="email" class="form-control" id="email" 
          value="<% if (locals.Customer) { %><%=Customer.email%> <% } else { " " } %>" readonly>        
        </div>        
      </div>    
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Cell Phone:</span>
          </div>
          <input name="cell" type="tel" minlength="10" maxlength="10" class="form-control" id="cell" 
          value="<% if (locals.Customer) { %><%=Customer.cell%> <% } else { " " } %>" readonly>          
        </div>        
      </div>    
      <div class="col-md-3 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Work Phone:</span>
          </div>
          <input name="work" type="tel" minlength="10" maxlength="10" class="form-control" id="work" 
          value="<% if (locals.Customer) { %><%=Customer.work%> <% } else { " " } %>" readonly>        
        </div>        
      </div>    
    </div>
    
<!-- Section for Vehicle Info -->
    <h3 class="group-label">Vehicle Info</h3>    
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Year/Model/Make:</span>
            </div>
              <input name="yearModelMake" type="text" aria-label="Year/Model/Mak" class="form-control" 
               value="<% if (locals.Vehicle) { %><%= Vehicle.year%> <%= Vehicle.make%> <%= Vehicle.model%><% } else { " " } %>"  readonly>          
          </div>          
        </div>
        <div class="col-md-3 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Mileage:</span>
            </div>
            <input type="text" aria-label="Mileage" class="form-control" 
<<<<<<< HEAD
            value="<% if (locals.Vehicle) { %><%= Vehicle.mileage%> <% } else { " " } %>"readonly>
=======
            value="<% if (locals.Vehicle) { %><%= Vehicle.year%> <% } else { " " } %>"readonly>            
          </div>
>>>>>>> 4dd0c0fa6337e7872f1a4e96142383c4a049520e
        </div>
        <div class="col-md-3 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">VIN:</span>
            </div>
            <input name="VIN" type="text" aria-label="VIN" class="form-control" 
            value="<% if (locals.Vehicle) { %> <%= Vehicle.VIN%> <% } else { " " } %>" readonly>            
          </div>          
        </div>
        <div class="col-md-3 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">License:</span>
            </div>
            <input name="license" type="text" aria-label="License" class="form-control" 
            value="<% if (locals.Vehicle) { %><%= Vehicle.licenseNum%><% } else { " " } %>"readonly>            
          </div>          
        </div>
      </div>
      
<!-- Section for Mechanic Info -->
    <h3 class="group-label">Mechanic Info</h3>    
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Mechanic ID:</span>
            </div>
            <input type="text" class="form-control" id="mechanicID" placeholder="ER96JBFI74" value="ER96JBFI74"
            style="text-transform:uppercase" minlength="10" maxlength="10" aria-describedby="inputGroupPrepend" readonly>            
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">First Name:</span>
            </div>
            <input name="mechanicFirstName" type="text" class="form-control" id="mechanicFirstName" placeholder="Jane" value="Jane" readonly>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Last Name</span>
            </div>
            <input name="mechanicLastName" type="text" class="form-control" id="mechanicLastName" placeholder="Doe" value="Doe" readonly>
          </div>
        </div>
      </div>
    <a class="btn btn-primary" href="/vehicleInspectionForm" role="button">Vehicle Inspection Form</a>
  </div>
  
  <!-- Actual Repair Order Form -->
  <div class="container border border-dark rounded mx-auto"> 
    <h3 class="group-label">Repairs</h3>    
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width:5%" scope="col">#</th>
            <th style="width:20%" scope="col">Repair Type</th>
            <th style="width:45%" scope="col">Repair</th>
            <th style="width:15%" scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
            <h6><strong><br></strong></h6>
              <select name="job_1_repair_type" class="custom-select" id="job_1_repair_type" required>
                <% var pay_selected = ""; %>
                <% var warranty_selected = ""; %>
                <% var internal_selected = ""; %>
                <% if (typeof job_1_type !== 'undefined') { 
                    if (job_1_type === "Customer Pay") { 
                      pay_selected = "selected";
                    }
                    else if (job_1_type === "Warranty") {
                      warranty_selected = "selected";
                    }
                    else if (job_1_type === "Internal") {
                      internal_selected = "selected";
                    }
                }
                %>
                <option value="">Choose...</option>
                <option value="Customer Pay" <%=pay_selected%>>Customer Pay</option>  
                <option value="Warranty" <%=warranty_selected%>>Warranty</option>    
                <option value="Internal" <%=internal_selected%>>Internal</option>  
              </select>
            </td>
            <td> 
              <h6><strong>Complaint</strong></h6>
              <textarea name="job_1_complaint" class="form-control" aria-label="With textarea" required><% if (typeof job_1_complaint !== 'undefined') { %><%=job_1_complaint%><% } else { %><% } %></textarea> 
              <br>
              <h6><strong>Cause</strong></h6>
              <textarea name="job_1_cause" class="form-control" aria-label="With textarea" required><% if (typeof job_1_cause !== 'undefined') { %><%=job_1_cause%><% } else { %><% } %></textarea>
              <br>
              <h6><strong>Resolution</strong></h6>
              <textarea name="job_1_resolution" class="form-control" aria-label="With textarea" required><% if (typeof job_1_resolution !== 'undefined') { %><%=job_1_resolution%><% } else { %><% } %></textarea>
              </td>  <!-- Need to add ID to be saved -->
            <td>  
              <h6><strong><br></strong></h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input name="job_1_cost" type="text" class="form-control" onchange="add_number()"
                value= <% if (typeof job_1_cost !== 'undefined') { %><%=job_1_cost;%><% } else { %> "0" <% } %> id="job_1_cost"  required>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td> 
            <h6><strong><br></strong></h6>
            <select name="job_2_repair_type" class="custom-select" id="job_2_repair_type" required>
                <% var pay_selected = ""; %>
                <% var warranty_selected = ""; %>
                <% var internal_selected = ""; %>
                <% if (typeof job_2_type !== 'undefined') { 
                    if (job_2_type === "Customer Pay") { 
                      pay_selected = "selected";
                    }
                    else if (job_2_type === "Warranty") {
                      warranty_selected = "selected";
                    }
                    else if (job_2_type === "Internal") {
                      internal_selected = "selected";
                    }
                }
                %>
                <option value="">Choose...</option>
                <option value="Customer Pay" <%=pay_selected%>>Customer Pay</option>  
                <option value="Warranty" <%=warranty_selected%>>Warranty</option>    
                <option value="Internal" <%=internal_selected%>>Internal</option>  
              </select>
            </td>
            <td> 
              <h6><strong>Complaint</strong></h6>
              <textarea name="job_2_complaint" class="form-control" aria-label="With textarea" required><% if (typeof job_2_complaint !== 'undefined') { %><%=job_2_complaint%><% } else { %><% } %></textarea> 
              <br>
              <h6><strong>Cause</strong></h6>
              <textarea name="job_2_cause" class="form-control" aria-label="With textarea" required><% if (typeof job_2_cause !== 'undefined') { %><%=job_2_cause%><% } else { %><% } %></textarea>
              <br>
              <h6><strong>Resolution</strong></h6>
              <textarea name="job_2_resolution" class="form-control" aria-label="With textarea" required><% if (typeof job_2_resolution !== 'undefined') { %><%=job_2_resolution%><% } else { %><% } %></textarea>
              </td>  <!-- Need to add ID to be saved -->
            <td>  
              <h6><strong><br></strong></h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input name="job_2_cost" type="text" class="form-control" onchange="add_number()"
                value= <% if (typeof job_2_cost !== 'undefined') { %><%=job_2_cost;%><% } else { %> "0" <% } %> id="job_2_cost"  required>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td> 
            <h6><strong><br></strong></h6>
            <select name="job_3_repair_type" class="custom-select" id="job_3_repair_type" required>
                <% var pay_selected = ""; %>
                <% var warranty_selected = ""; %>
                <% var internal_selected = ""; %>
                <% if (typeof job_3_type !== 'undefined') { 
                    if (job_3_type === "Customer Pay") { 
                      pay_selected = "selected";
                    }
                    else if (job_3_type === "Warranty") {
                      warranty_selected = "selected";
                    }
                    else if (job_3_type === "Internal") {
                      internal_selected = "selected";
                    }
                }
                %>
                <option value="">Choose...</option>
                <option value="Customer Pay" <%=pay_selected%>>Customer Pay</option>  
                <option value="Warranty" <%=warranty_selected%>>Warranty</option>    
                <option value="Internal" <%=internal_selected%>>Internal</option>  
              </select>
            </td>
            <td> 
              <h6><strong>Complaint</strong></h6>
              <textarea name="job_3_complaint" class="form-control" aria-label="With textarea" required><% if (typeof job_3_complaint !== 'undefined') { %><%=job_3_complaint%><% } else { %><% } %></textarea> 
              <br>
              <h6><strong>Cause</strong></h6>
              <textarea name="job_3_cause" class="form-control" aria-label="With textarea" required><% if (typeof job_3_cause !== 'undefined') { %><%=job_3_cause%><% } else { %><% } %></textarea>
              <br>
              <h6><strong>Resolution</strong></h6>
              <textarea name="job_3_resolution" class="form-control" aria-label="With textarea" required><% if (typeof job_3_resolution !== 'undefined') { %><%=job_3_resolution%><% } else { %><% } %></textarea>
              </td>  <!-- Need to add ID to be saved -->
            <td>  
              <h6><strong><br></strong></h6>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input name="job_3_cost" type="text" class="form-control" onchange="add_number()"
                value= <% if (typeof job_3_cost !== 'undefined') { %><%=job_3_cost;%><% } else { %> "0" <% } %> id="job_3_cost"  required>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
          
          <div align="right">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Total Cost:</span>
                <span class="input-group-text" id="inputGroup-sizing-lg">$</span>
              </div>
              <input name="total_cost" type="text" class="form-control" id="total_cost" 
              value= <% if (typeof totalCost !== 'undefined') { %><%=totalCost%> <% } else { %>""<% } %> readonly>
            </div>
          </div>
        
        <br>
    <!--<button type="submit" class="btn btn-primary btn-lg mt-2">Submit Repair Order</button>-->
    <input type="submit" class="btn btn-primary btn">
    <button class="btn btn-success" type="button">Update Repair Order</button>
    <button class="btn btn-danger" type="button">Delete Repair Order</button>
<!-- Form Ends Here -->
  </div>
  </form>
</div>
<script>
  function add_number() {
    var fst_init = parseFloat(document.getElementById("job_1_cost").value);
    var snd_init = parseFloat(document.getElementById("job_2_cost").value);
    var thd_init = parseFloat(document.getElementById("job_3_cost").value);
    var fst = (Math.round(fst_init* 100)/100);//.toFixed(2);
    var snd = (Math.round(snd_init* 100)/100);//.toFixed(2);
    var thd = (Math.round(thd_init* 100)/100);//.toFixed(2);
    var result = fst + snd + thd;
    document.getElementById("total_cost").value = result.toFixed(2);
    document.getElementById("job_1_cost").value = fst.toFixed(2);
    document.getElementById("job_2_cost").value = snd.toFixed(2);
    document.getElementById("job_3_cost").value = thd.toFixed(2);
    
  }  
  
</script>
<% include partials/footer %>


