<% include partials/header %>

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid border border-dark rounded">
        <div class="container-fluid">
            <h1 class="display-4 text-center">Search Directory</h1>
        </div>
    </div>

    <div class="container border border-dark rounded mx-auto">
        <h3>Search by Customer Information</h3>
            <form class="ui form" action="/searchPage/nameSearch" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-md-8 mb-3">
                        <div class="input-group mb-3">
                            <input name="firstName" type="text" class="form-control" placeholder="First Name" required>
                            <input name="lastName" type="text" class="form-control" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="submit" id="CustomerName">Search By Customer Name</button>
                        </div>
                    </div>                    
                </div>
            </form>
            <form class="ui form" action="/searchPage/emailSearch" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-md-8 mb-3">
                        <div class="input-group mb-3">
                            <input name="email" type="email" class="form-control" placeholder="example@example.com" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="submit" id="Email">Search By Customer Email</button>
                        </div>
                    </div>                    
                </div>
            </form>
            <form class="ui form" action="/searchPage/idSearch" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-md-8 mb-3">
                        <div class="input-group mb-3">
                            <input name="customerID" type="text" class="form-control" placeholder="Customer ID" minlength="10" maxlength="10" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="submit" id="CustomerID">Search By Customer ID</button>
                        </div>
                    </div>                    
                </div>
            </form>
            
        <br>
        <div class="container border border-dark rounded mx-auto">
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th style=:width:17% scope="col">First Name</th>
                        <th style=:width:17% scope="col">Last Name</th>
                        <th style=:width:17% scope="col">Email</th>
                        <th style=:width:17% scope="col">Cell Phone</th>
                        <th style=:width:17% scope="col">Work Phone</th>
                        <th style=:width:17% scope="col">Customer Page</th>
                    </tr>
                </thread>
                <tbody>
                    <% DupCustomers.sameCustomer.forEach(function(sameCustomer){ %>
                        <tr>
                            <td> <div class="col"><%= sameCustomer.firstName %></div></td>
                            <td> <div class="col"><%= sameCustomer.lastName %></div></td>
                            <td> <div class="col"><%= sameCustomer.email %></div></td>
                            <td> <div class="col"><%= sameCustomer.cell %></div></td>
                            <td> <div class="col"><%= sameCustomer.work %></div></td>
                            <td> <a class="col" href="/customerPage/<%=sameCustomer.customerID%>">Customer Info</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div> 

        <h3>Search by Vehicle Information</h3>
            <form>
                <div class="form-row align-items-center">
                    <div class="col-md-8 mb-3">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" minlength="17" maxlength="17" placeholder="VIN" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="submit" id="VIN">Search By Vehicle Identification Number</button>
                        </div>
                    </div>                    
                </div>
            </form>
            <form>
                <div class="form-row align-items-center">
                    <div class="col-md-8 mb-3">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" minlength="7" maxlength="7" placeholder="License" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="submit" id="License">Search By License</button>
                        </div>
                    </div>                    
                </div>
            </form>

        <h3>Search by Repair Order Number</h3>
            <form>
                <div class="form-row align-items-center">
                    <div class="col-md-8 mb-3">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" minlength="10" maxlength="10" placeholder="Repair Order Number" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                                <button class="btn btn-primary" type="submit" id="RepairOrderNumber">Search By Repair Order Number</button>
                        </div>
                    </div>                    
                </div>
            </form>
    </div>
</div>   
<% include partials/footer %>