<% include partials/header %>

<div class="container-fluid">
  
  <div class="jumbotron jumbotron-fluid border border-dark rounded">
    <div class="container-fluid">
      <h1 class="display-4 text-center">Vehicle Information</h1>
    </div>
  </div>
  
  <!--Section for Customer Info-->
  <div class="container border border-dark rounded mx-auto">

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="Make">Make</label>
        <div class="input-group">
          <input name="vehicleMake" type="text" class="form-control" id="customerID" value="<%= Vehicle.make %>" 
          style="text-transform:uppercase" minlength="10" maxlength="10" aria-describedby="inputGroupPrepend" readonly>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="Model">Model</label>
        <input  name="vehicleModel" type="text" class="form-control" id="firstname" value="<%= Vehicle.model %>" readonly>
      </div>
      <div class="col-md-4 mb-3">
        <label for="Year">Year</label>
        <input name="vehicleYear" type="text" class="form-control" id="lastname" value="<%= Vehicle.year %>" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="Color">Color</label>
        <input name="vehicleColor" type="text" class="form-control" id="Street" value="<%= Vehicle.color %>" readonly>
      </div>
      <div class="col-md-3 mb-3">
        <label for="License">License Plate</label>
        <input name="vehicleLicense" type="text" class="form-control" id="City" value="<%= Vehicle.licenseNum %>" readonly>
      </div>
      <div class="col-md-3 mb-3">
        <label for="VIN">VIN</label>
        <input name-"vehicleVIN" type="text" class="form-control" id="State" value="<%= Vehicle.VIN %>"
        minlength="2" maxlength="2" readonly>
      </div>
      <div class="col-md-3 mb-3">
        <label for="Mileage">Current Mileage</label>
        <input name="vehicleMileage" type="number" minlength="5" maxlength="5" class="form-control" id="zip" value="<%=Vehicle.mileage%>" readonly>
      </div>
      <div class="col-md-3 mb-3">
        <label for="lastService">Last Service Date</label>
        <input name="vehicleLastService" type="email" class="form-control" id="email" value=<%= Vehicle.lastSrvc.date %> readonly>
      </div>    
    </div>
    
    
    <div class="container border border-dark rounded mx-auto">
      <div class="font-weight-bold">Repair Orders</div>
      <br>
      <%= (RO) ? RO.repairOrderNumber : 'FUCK' %>
      <div class="container">
        <% RO.forEach(function(ro){ %>
          <div class="row">
            <div class="col"><%= ro.repairOrderNumber%></div>
            <div class="col"><%= ro.inspectionReport.Inspected_on%></div>
            <div class="col"><%= ro.inspectionReport.Comments%></div>
            <div class="col"><%= ro.jobs[0].cost%></div> <!-- TODO: add up the cost of all jobs rather than only the first job-->
            <div class="col"><%= ro.inspectionReport.Mileage%></div>
            <a class="col" href="/repairOrderForm\<%= ro.repairOrderNumber%>">Repair Order Page</a>
          </div>
        <% }); %>
      </div>
      
    </div>

</div>

<% include partials/footer %>